.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.group-title {
  text-align: left;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}
.current {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GLOBAL */
body {
  background-color: rgb(var(--background-dark));
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 2rem;

  color: rgb(245, 246, 250);

  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;

  color: #87B1D1;

  margin: 0;
  padding: 0;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 2rem;

  color: rgb(245, 246, 250);

  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1.5rem;

  color: rgb(245, 246, 250);

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;

  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #87B1D1;
}

/* DASHBOARD ELEMENTS */
.monitor-box-grid-div {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-flow: wrap;
}

.monitor-box-div {
  height: 30rem;
  flex: 1 1 0;
  padding: 20px;
}

.monitor-box-div-card {
  width: 100%;
  height: 100%;

  padding: 16px;
  text-align: left;
  
  background-color: rgb(var(--background-dark));
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(var(--dark-dark-shadow)), 
            -10px -10px 20px rgba(var(--dark-light-shadow));

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

* {
  box-sizing: border-box;
}

/* LOGIN HISTORY */
.nav-back-arrow {
  width: 32px;
	height: 32px;
  padding: 8px;
  background-color: rgba(var(--dark-light-shadow));
	border-radius: 100px;

  vertical-align: middle;
  margin-top: -4px;
  margin-right: 8px;
}

.user-list-ul {
  margin-left: -40px;
  list-style: none;
}

.detail-padded-div {
  width: 1000px;
  max-width: 100%;
  padding: 32px;

  margin: 0 auto;

  text-align: left;
}

.detail-list li {
  margin-bottom: 16px;
}

.user-flex-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.detail {
  padding: 16px;

  text-align: left;
	border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(var(--dark-dark-shadow)), 
            -10px -10px 20px rgba(var(--dark-light-shadow));
}

.user-flex-row img {
	width: 48px;
	height: 48px;
  padding: 8px;
  background-color: rgba(var(--dark-light-shadow));
	border-radius: 100px;
}

.user-flex-row p {
	font-size: 1.5rem;
	text-align: left;
}

.user-flex-row-text {
  padding-left: 16px;
}

.disguised-a {
  text-decoration: none;
}

.disguised-a:hover .monitor-box-div-card {
  box-shadow: 20px 20px 20px rgba(var(--dark-dark-shadow)), 
            -20px -20px 20px rgba(var(--dark-light-shadow));

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

:root {
	--background-light: 236, 240, 241;
	--light-dark-shadow: 227, 227, 227;
	--light-light-shadow: 255, 255, 255;

  --background-dark: 27, 39, 46;
	--dark-dark-shadow: 0, 0, 0, 0.25;
	--dark-light-shadow: 38, 55, 64, 0.5;
}

.ports-table-scroll-div {
  width: 100%;
  overflow-x: scroll;

  background-color: rgb(var(--background-dark));
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(var(--dark-dark-shadow)), 
            -10px -10px 20px rgba(var(--dark-light-shadow));
}

.ports-table {
  width: auto;
  border-collapse: collapse;
}

.ports-table th {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;

  border: 1px solid #ddd;

  color: rgb(245, 246, 250);

  margin: 0;
  padding: 0;
}

.ports-table td {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;

  border: 1px solid #ddd;

  color: #87B1D1;

  margin: 0;
  padding: 0;
}